ccdeve-topology-module-data.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt"><sch:ns uri="http://exslt.org/dynamic" prefix="dyn"/><sch:ns uri="https://devnetexperttraining.com/topology" prefix="ccd"/><sch:ns uri="urn:ietf:params:xml:ns:netconf:base:1.0" prefix="nc"/><sch:let name="root" value="/nc:data"/><sch:pattern id="ccdeve-topology-module"><sch:rule context="/nc:data/ccd:topology/ccd:device"><sch:report test="preceding-sibling::ccd:device[ccd:name=current()/ccd:name]">Duplicate key "ccd:name"</sch:report></sch:rule><sch:rule context="/nc:data/ccd:topology/ccd:link"><sch:report test="preceding-sibling::ccd:link[ccd:name=current()/ccd:name]">Duplicate key "ccd:name"</sch:report></sch:rule><sch:rule context="/nc:data/ccd:topology/ccd:link/ccd:a/ccd:device"><sch:report test="not(../../../ccd:device/ccd:name=.)">Leaf "../../../ccd:device/ccd:name" does not exist for leafref value "<sch:value-of select="."/>"</sch:report></sch:rule><sch:rule context="/nc:data/ccd:topology/ccd:link/ccd:b/ccd:device"><sch:report test="not(../../../ccd:device/ccd:name=.)">Leaf "../../../ccd:device/ccd:name" does not exist for leafref value "<sch:value-of select="."/>"</sch:report></sch:rule></sch:pattern></sch:schema>
