ccdeve-topology-module-data.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:ccd="https://devnetexperttraining.com/topology" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/yang/schema/relaxng-lib.rng"/><start><element name="data"><interleave><grammar ns="https://devnetexperttraining.com/topology"><start><optional><element name="ccd:topology"><interleave><zeroOrMore><element name="ccd:device"><element name="ccd:name"><data type="string"/></element><optional><element name="ccd:sku"><data type="string"/></element></optional></element></zeroOrMore><zeroOrMore><element name="ccd:link"><element name="ccd:name"><data type="string"/></element><interleave><element name="ccd:a"><interleave><element name="ccd:device"><data type="string"/></element><optional><element name="ccd:ip_address"><data type="string"/></element></optional><element name="ccd:interface"><data type="string"/></element></interleave></element><element name="ccd:b"><interleave><element name="ccd:device"><data type="string"/></element><optional><element name="ccd:ip_address"><data type="string"/></element></optional><element name="ccd:interface"><data type="string"/></element></interleave></element><optional><element name="ccd:cable_length"><data type="decimal"><param name="totalDigits">19</param><param name="fractionDigits">2</param></data></element></optional></interleave></element></zeroOrMore></interleave></element></optional></start></grammar></interleave></element></start></grammar>
