ethernet-switch-data.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="exslt"><sch:ns uri="http://exslt.org/dynamic" prefix="dyn"/><sch:ns uri="http://hiTech007.com/ethernet-switch" prefix="l2sw"/><sch:ns uri="urn:ietf:params:xml:ns:netconf:base:1.0" prefix="nc"/><sch:let name="root" value="/nc:data"/><sch:pattern id="ethernet-switch"><sch:rule context="/nc:data/l2sw:switch/l2sw:interface"><sch:report test="preceding-sibling::l2sw:interface[l2sw:name=current()/l2sw:name]">Duplicate key "l2sw:name"</sch:report><sch:report test="not(l2sw:mode='access') and (l2sw:access-vlan[not(processing-instruction('dsrl'))] or false())">Found nodes that are valid only when "l2sw:mode='access'"</sch:report><sch:report test="not(l2sw:mode='trunk') and (l2sw:trunked-vlan[not(processing-instruction('dsrl'))] or false())">Found nodes that are valid only when "l2sw:mode='trunk'"</sch:report></sch:rule><sch:rule context="/nc:data/l2sw:switch/l2sw:interface/l2sw:trunked-vlan"><sch:report test=". = preceding-sibling::l2sw:trunked-vlan">Duplicate leaf-list entry "<sch:value-of select="."/>".</sch:report></sch:rule></sch:pattern></sch:schema>
